# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=investigacion_ud
DB_USER=postgres
DB_PASSWORD=postgres

# JWT
JWT_SECRET=Sanchez2021***
JWT_EXPIRATION=86400000

# Server
PORT=8081
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:4200

